extends layout

block content
  table.table#data
    thead.thead-dark
      tr
        th(scope='col') Cédula
        th(scope='col') Lote
        th(scope='col') block
        th(scope='col') Fecha
        th(scope='col') area
        th(scope='col') calibres
        th(scope='col') conica
        th(scope='col') corcho
        th(scope='col') craw
        th(scope='col') Daño Sol
        th(scope='col') Daño Roedor
        th(scope='col') Desbraquea
        th(scope='col') Fallas
        th(scope='col') Fruta atrasada
        th(scope='col') Gomosis
        th(scope='col') GPS Final Lat
        th(scope='col') GPS Final Long
        th(scope='col') GPS Inicial Lat 
        th(scope='col') GPS Inicial Long
        th(scope='col') Hueco
        th(scope='col') Menos
        th(scope='col') Motivos Rechazo
        th(scope='col') Muestras
        th(scope='col') Natural 
        th(scope='col') Otros
        th(scope='col') s
        th(scope='col') s1
        th(scope='col') s2
        th(scope='col') s3
        th(scope='col') s4
        th(scope='col') s5
        th(scope='col') s6
        th(scope='col') Semana Estimación
        th(scope='col') Sombra
    tbody
    
  script(src='/javascripts/jquery-3.3.1.js')
  script(src="/javascripts/ajax/Ajax.js")
  script(src="/javascripts/home.js")
  